/* why choose us */
.section5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 0px;
}
.section5 h1 {
  font-size: 90px;
  margin: 50px 0px;
}
.section5 h3 {
  margin: 20px;
  font-size: 30px;
}